html, body, .hero.is-info .tabs.is-boxed li.is-active a, .hero.is-info .tabs.is-boxed li.is-active a:hover{
    background-color: #e5e6e7;
    color:#060B18;
    ;
}

.svg-content {
  display: inline-block;
  top: 0;
  left: 0;
  margin: auto;
}




.title {
    color: #232B34;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.125;
}


.hero.is-info, .hero.is-info .container {
    background-color: #10B09B;
    
}

.hero.is-info .title,.hero.is-info .subtitle{
color: #060B18;
}

#nav-container-top {
    height: 1px;
  }

 #nav-container {
     position: sticky;
    top: 0;
    padding:10px;

    transition: 0.15s all ease;
  }

  #nav-container #title{
    transform: scale(1);
  }


  .nav-container-sticky #title{
    transform: scale(0) !important;
    display: none;
  }


  .nav-container-sticky {
    z-index: 10;
    background-color: white;
    padding: 2px;
  }

  .box, .message {
     box-shadow:0 6px 13px rgba(0,0,0,0.19), 0 3px 4px rgba(0,0,0,0.23);
  }

  .card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .box, .card{
    background-color: white;
  }

  .is-paddingless h2.subtitle {
padding: 11px 19px 0px 19px;
}

.level {
align-items: baseline;

}

.steps.is-horizontal.is-narrow .steps-segment:not(:last-child),    .steps.is-horizontal.is-narrow.has-content-centered .steps-segment:last-child {
    min-width: 2.5em;
}

.subtitle{
  line-height: 1.5;
}



.section.is-medium {
  padding: 3rem 0rem;
}

.column{
  padding:1.2rem;
}
.card-content{
  padding: 0.5rem;
}

iframe{
  width: 100%;
  margin:auto;
  
}


@media screen and (min-width: 769px){
            
        .steps.is-horizontal.is-narrow .steps-segment:not(:last-child),    .steps.is-horizontal.is-narrow.has-content-centered .steps-segment:last-child {
            min-width: 6em;
        }

        iframe{
          width: 80%;
        }

        .hero.is-medium .hero-body {
          padding: 5rem 1.5rem;
      }
        
}

@media screen and (min-width: 400px){
  .section.is-medium {
    padding: 3rem 1.5rem;
  }
  .column{
    padding:0.75rem;
  }

  .card-content{
    padding: 1.5rem;
  }

  
}

@media screen and (min-width: 1024px){
        .section.is-medium {
            padding: 6rem 1.5rem;
        }
        .container {
            padding-top: 50px;
        }
}


html {
scroll-behavior: smooth;
}

td.google-visualization-orgchart-node{
    border:none;
    text-align: center !important;
    vertical-align: middle;
    font-family:  'Karla', sans-serif;
    cursor: default;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    background-color: #FFEDCC;
    background: #FFEDCC;

}

.notification{
    background-color: #f8f9fb ;
}

.container {
    background-color: white;
    padding-bottom: 50px;
}

.hero-foot .container {
  background-color: white;
  padding-bottom: 0px;
}

.notification .container {
  background-color: inherit;
}


#organigramas h2.title {
    margin-top: 50PX;
}

#organigramas .box {
    box-shadow: 0 4px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    margin: 10px;
}



.states {
stroke: #fff;
stroke-width: 0.5px;
stroke-linejoin: round;
stroke-linecap: round;
pointer-events: none;

}

.circulos{
  cursor: pointer; 
  stroke-width:0px;
-webkit-transition: stroke-width 0.2s; /* Safari */
  transition: stroke-width 0.2s;
  transition: fill 0.2s;
}

.circulos.selected{
  stroke: #fff;
  stroke-width: 2px;
}

.circulos.unselected{
  fill: none;
  stroke: silver;
  stroke-width: 1px;
}

.circulos.hovered{
  stroke: #000;
  stroke-width: 2px;
}


.estadoVector.hovered{
  stroke: #444;
  stroke-width: 1px;
}



.cells path {
fill: none;
stroke: #000;
  stroke-width:0px;
pointer-events: all;
 cursor: pointer;
}



svg text {
  font-family:  'Karla', sans-serif;

}

.legendSize{
fill:silver;
}

.legendTitle{
font-size: 12px;
fill:gray;

}

.label{
fill:gray;
font-family:  'Karla', sans-serif;
font-size: 12px;
}





div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 350px;          
  padding: 8px 6px;
  min-height: 130px;       
  font: 12px sans-serif;    
  background: white; 
  border: 1px solid black;    
  border-radius: 0 8px 8px 8px;     
-webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
opacity: 0;
pointer-events: none;
}

#tooltipSenado{ 
  width: 250px;          
  
  
}

div.tooltip {
  font-family:  'Karla', sans-serif;
  padding: 0px;
}

div.tooltip h3 {
  margin-top: 0;
  background-color: #c0c0c06b;
  width: 100%;
  border-radius: 0px 7px 0px 0px;
  padding: 1px 0px;        margin-bottom: 2px;
  height: 50px;
    display: inline-block;
      line-height: 50px;


}

div.tooltip #title {
line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 600;

}

div.tooltip h4 {
  margin: 5px 0px;
  display: inline-flex;
   font-size: 12px;
  font-weight: 500;
}

div.tooltip #presencia {
  font-weight: 500;
}


div.tooltip #tamanio{
  margin: 2px 0px;
  font-weight: 500;
  font-size: 12px;
}

div.tooltip #link{
  font-size: 14px;
  margin-bottom: 10px;
  pointer-events: all;
}


.enclosingCircle{
  fill: none;
    stroke: black;
}

textPath{
  text-anchor: middle;
}

.MORENA{ fill:#8e0000}
.PAN{ fill:#2da2cf}
.PRI{ fill:#066533}
.PT{ fill:#ff4343}
.MC{ fill:#e86f00}
.PES{ fill:#662583}
.PVEM{ fill:#93c130}
.PRD{ fill:#ffb31c}
.SG{ fill:#808080}



/* ----- SENADO */
#mapaSenadoMexico .banca{
  opacity: 0;
}

#mapaSenadoMexico polygon.borde {
  stroke-width: 2px;
  stroke: black;
  pointer-events: none;

}

#mapaSenadoMexico g:hover .banca {
  opacity: 1;

}


#mapaSenadoMexico:hover .apaga{
  stroke-width: 5px !important;
  opacity: 1 !important; 
  fill: none;
}





#comisiones text {
  fill: rgba(0, 0, 0, 1);
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  paint-order: stroke;
  stroke: #ffffff;
  stroke-width: 4px;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-opacity: 0.8;
  pointer-events: none;

}

#comisiones .node {
  box-sizing: border-box;
  line-height: 1em;
  overflow: hidden;
  position: absolute;
  white-space: pre;
  background: #ddd;
}

#comisiones .comision .child{
  fill:#00000010;
  opacity: 0.8;
 }

 #comisiones .child:hover{
  stroke: white;
  paint-order: stroke;
  stroke-width: 4px;
  opacity: 1;
}

#comisiones .padre {
  stroke:rgb(224, 224, 224);
  paint-order: stroke;
  stroke-width: 10px;
  fill:rgb(224, 224, 224);
}
#comisiones .comision:hover .MORENA, #comisiones .MORENA.child.seleccionado{ fill:#8e0000}
#comisiones .comision:hover .PAN, #comisiones .PAN.child.seleccionado{ fill:#2da2cf}
#comisiones .comision:hover .PRI, #comisiones .PRI.child.seleccionado{ fill:#066533}
#comisiones .comision:hover .PT, #comisiones .PT.child.seleccionado{ fill:#ff4343}
#comisiones .comision:hover .MC, #comisiones .MC.child.seleccionado{ fill:#e86f00}
#comisiones .comision:hover .PES, #comisiones .PES.child.seleccionado{ fill:#662583}
#comisiones .comision:hover .PVEM, #comisiones .PVEM.child.seleccionado{ fill:#93c130}
#comisiones .comision:hover .PRD, #comisiones .PRD.child.seleccionado{ fill:#ffb31c}
#comisiones .comision:hover .SG, #comisiones .SG.child.seleccionado{ fill:#808080}

#comisiones .comision:hover text{
  display:none;
}


/* TIPSY */

.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000;
    font-family: monospace;
 }

 .tipsy img{
  max-width:200px;
}

  .tipsy-inner { background-color: #777; color: #FFF; width: 200px; padding: 5px 8px 4px 8px; text-align: center; line-height: 18px; }
  .tipsy-inner #actualtitle{ line-height: 15px; padding:5px; border-radius: 2px;}

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  .tipsy-inner { box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); }
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
  .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }



   #actualtitle{
    width:100%;
    display: block;
    font-size: 13px;
    font-weight: 400;
    background-color: silver;
    color:black;
  }

  h3{
    margin-bottom: 10px;
  }

  .hero-foot li{
    text-align: center;
  }



/* organigrama */
#organigramas .tags{
  justify-content: center;
}

#organigramas .tag{
  background-color: #DBE1E2;
  color:#232B34;
  font-weight: 600;
}

#organigramas .message-header{
  background-color: #989EA0;
}

#organigramas .message-body{
  padding: 7px 24px 20px 24px;
}



#organigramas .message-header p{
  margin:auto;
  color:#232B34;
}

#organigramas .orgaDesc{
  background-color: #F7FAFA;
  padding: 3px;
  line-height: 14px;
  margin-bottom: 17px;
}


#organigramas span.tag.is-primary.is-light {
  font-weight: 700;
  color: inherit;
  background-color: #69E7BF;

}

#organigramas .organiHidden{
  display: none;
}


.columns{
  margin: 0;
}


/* ---- */

.media img{
  display: block;
  width: auto;
  height: 100%;
  margin: auto;
}

.bargraph .progress.is-small {
  height: 8px;
  margin-bottom: 9px;
}

.bargraph span{
  display: block;
  margin-left: 32px;
  margin-bottom: 10px;
  font-size: 14px;
}

.bargraph span .progress.is-small{
  margin-bottom: 3px;
}


.progress.senadores::-webkit-progress-value {
  background-color: #FEE466; }
.progress.senadores::-moz-progress-bar {
  background-color: #FEE466; }
.progress.senadores::-ms-fill {
  background-color: #FEE466;
  border: none; }


  .progress.diputados::-webkit-progress-value {
    background-color: #8ADEF3; }
  .progress.diputados::-moz-progress-bar {
    background-color: #8ADEF3; }
  .progress.diputados::-ms-fill {
    background-color: #8ADEF3;
    border: none; }
  
