html, .hero.is-info .tabs.is-boxed li.is-active a, .hero.is-info .tabs.is-boxed li.is-active a:hover{
    background-color: #f8f9fb;
    color:#060B18;
    ;
}

.svg-content {
  display: inline-block;
  top: 0;
  left: 0;
}




.title {
    color: #232B34;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.125;
}


.hero.is-info, .hero.is-info .container {
    background-color: #10B09B;
    
}

.hero.is-info .title,.hero.is-info .subtitle{
color: #060B18;
}

#nav-container-top {
    height: 1px;
  }

 #nav-container {
     position: sticky;
    top: 0;
    padding:10px;

    transition: 0.15s all ease;
  }

  #nav-container #title{
    transform: scale(1);
  }


  .nav-container-sticky #title{
    transform: scale(0) !important;
    display: none;
  }


  .nav-container-sticky {
    z-index: 10;
    background-color: white;
    padding: 2px;
  }

  .box {
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .box, .card{
    background-color: white;
  }

  .is-paddingless h2.subtitle {
padding: 11px 19px 0px 19px;
}

.level {
align-items: baseline;

}

.steps.is-horizontal.is-narrow .steps-segment:not(:last-child),    .steps.is-horizontal.is-narrow.has-content-centered .steps-segment:last-child {
    min-width: 2.5em;
}

.subtitle{
  line-height: 1.5;
}

@media screen and (min-width: 769px){
            
        .steps.is-horizontal.is-narrow .steps-segment:not(:last-child),    .steps.is-horizontal.is-narrow.has-content-centered .steps-segment:last-child {
            min-width: 6em;
        }


        
}

@media screen and (min-width: 1024px){
        .section.is-medium {
            padding: 6rem 1.5rem;
        }
        .container {
            padding-top: 50px;
        }
}


html {
scroll-behavior: smooth;
}

td.google-visualization-orgchart-node{
    border:none;
    text-align: center !important;
    vertical-align: middle;
    font-family:  'Karla', sans-serif;
    cursor: default;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    background-color: #FFEDCC;
    background: #FFEDCC;

}

.notification{
    background-color: #f8f9fb ;
}

.container {
    background-color: white;
}

#organigramas h2.title {
    margin-top: 50PX;
}

#organigramas .box {
    box-shadow: 0 4px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    margin: 50px 30px;
}





#tooltip { 
  position: absolute;     
  text-align: center;     
  width: 350px;          
  padding: 8px 6px;
  min-height: 130px;       
  font: 12px sans-serif;    
  background: white; 
  border: 1px solid black;    
  border-radius: 0 8px 8px 8px;     
-webkit-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
box-shadow: 1px 5px 6px 0px rgba(0,0,0,0.31);
opacity: 0;
}

.states {
stroke: #fff;
stroke-width: 0.5px;
stroke-linejoin: round;
stroke-linecap: round;
pointer-events: none;

}

.circulos{
  cursor: pointer; 
  stroke-width:0px;
-webkit-transition: stroke-width 0.2s; /* Safari */
  transition: stroke-width 0.2s;
  transition: fill 0.2s;
}

.circulos.selected{
  stroke: #fff;
  stroke-width: 2px;
}

.circulos.unselected{
  fill: none;
  stroke: silver;
  stroke-width: 1px;
}

.circulos.hovered{
  stroke: #000;
  stroke-width: 2px;
}


.estadoVector.hovered{
  stroke: #444;
  stroke-width: 1px;
}



.cells path {
fill: none;
stroke: #000;
  stroke-width:0px;
pointer-events: all;
 cursor: pointer;
}



svg text {
  font-family:  'Karla', sans-serif;

}

.legendSize{
fill:silver;
}

.legendTitle{
font-size: 12px;
fill:gray;

}

.label{
fill:gray;
font-family:  'Karla', sans-serif;
font-size: 10px;
}

div#tooltip {
  font-family:  'Karla', sans-serif;
  padding: 0px;
}

div#tooltip h3 {
  margin-top: 0;
  background-color: #c0c0c06b;
  width: 100%;
  border-radius: 0px 7px 0px 0px;
  padding: 1px 0px;        margin-bottom: 2px;
  height: 50px;
    display: inline-block;
      line-height: 50px;


}

div#tooltip #title {
line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;


}

div#tooltip h4 {
  margin: 5px 0px;
  display: inline-flex;
   font-size: 12px;
  font-weight: 500;
}

div#tooltip #presencia {
  font-weight: 500;
}


div#tooltip #tamanio,  div#tooltip #link{
  margin: 2px 0px;
  font-weight: 500;
  font-size: 12px;
}

.enclosingCircle{
  fill: none;
    stroke: black;
}

textPath{
  text-anchor: middle;
}

.MORENA{ fill:#8e0000}
.PAN{ fill:#2da2cf}
.PRI{ fill:#066533}
.PT{ fill:#ff4343}
.MC{ fill:#e86f00}
.PES{ fill:#662583}
.PVEM{ fill:#93c130}
.PRD{ fill:#ffb31c}
.SG{ fill:#808080}
