.navbar {

	.left{
		display: flex;
		align-items: center;
		height:100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bc4500+0,d95900+100 */
background: #FFF; /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc4500', endColorstr='#d95900',GradientType=1 ); /* IE6-9 */
	}
}
.top{
	background: $MainColor;
	height: 4px;

}
.navbar-brand img{ height: 80px; padding-top: 15px}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.next-button, .prev-button, .save-button {
		background: #e9e9e9;
		position: -ms-page;
		right: auto;
		bottom: 40px;
		color: #333;
		border-radius: 4px;
		padding: 5px 25px;
		transition: all 0.5s;
	}

	.next-button {
		margin-left: 50%;
	}

	.prev-button {
		margin-left: 25%;
	}

}