html, body {
	overflow: hidden;
}

.rel {
	transform: translate(0, 0);
	position:relative;
}
.pad-top-20 {
	padding-top:20px;
}

.over-hid {
	overflow: hidden;
}

.container-fluid {
	height:calc( 100vh - 60px );
}

.fullheight {
	height:100%;
}
.fullwidth {
	width:100%;
}

.out{
	transform:translate(0, -100vh);
	z-index:-1;
	opacity:0;
	position:absolute;
	right:0;
	transition-property: transform, opacity;
}

.in{
	position:absolute;
	right:0;
	transform:translate(0, 0);
	opacity:1;
	transition-duration: 0.4s, 0.7s;
}

.flexbox{
	display: flex;
}

.nopadding{
	padding:0!important;
}

.nomargin{
	margin:0!important;
}

.btn-add { 
	border-radius:3px;
	display: flex;
	justify-content: center;
	align-items:center;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	background:#5dba72;
	text-align:center;
	line-height:10px;
	color:#fff;
	font-size:15px;
	vertical-align: middle;
	transition: all 0.2s;
	margin:10px 0 ;
	padding:10px 25px;
	&:hover{
		color:#fff;
		text-decoration: none;
		background:#419254;
	}
}


/* total width */
::-webkit-scrollbar {
    background-color:#e4e4e4;
    width:13px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:#e4e4e4
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#fff;
    border-radius:16px;
    border:1px solid #e4e4e4
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}


/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
	margin-top:10px;
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	height: 30px;
	line-height: 0;
	text-align: center; /* Centered text */
	border-radius: 16px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 93%; /* 95% from the bottom */
	opacity: 0.97;
}


.snackbar.success{ background-color:#39b54a; color:#FFF}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
	visibility: visible; /* Show the snackbar */

	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {bottom: 100%; opacity: 0;}
	to {bottom: 93%; opacity: 0.97;}
}

@keyframes fadein {
	from {bottom: 100%; opacity: 0;}
	to {bottom: 93%; opacity: 0.97;}
}

@-webkit-keyframes fadeout {
	from {bottom: 93%; opacity: 0.97;}
	to {bottom: 100%;  opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 93%; opacity: 0.97;}
	to {bottom: 100%; opacity: 0;}
}
.related + label {
	margin-bottom: 40px!important;
}

.checklist-btn {
  float: right;
  text-align: center;
  color: #333;
  border-radius: 4px;
  padding: 5px 25px; 
  background:#e9e9e9;
  transition:all 0.5s;
  
  &:hover {
    text-decoration: none;
    background:#cfcfcf;
  }
}