body{
  text-align: center;
  background-color: #fff;
}

h2, h3 {
  font-family: verdana;
  margin: 0px;
  margin-top: 5px;
  color:black;
}

h2{
  margin-top: 50px;
}

h3{
  font-size: 13px;
  font-weight: 400;
  color:black;

}


text {
    fill: rgba(0, 0, 0, 1);
    font: 19px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    paint-order: stroke;
    stroke: #ffffff;
    stroke-width: 4px;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-opacity: 0.8;
     pointer-events: none;
}

.node {
  cursor: pointer;
}

circle{
      outline: none;
}
#continentes{
  
  line-height: 24px;
      width: 80%;
    margin: 10px auto;
}

.buscador{
  margin:0 auto;
}


.selectors{
    background-color:silver;
    fill:silver;
}

.selectors.latinoamerica, .country.latinoamerica{
  background-color:rgb(102,194,165);
  fill:rgb(102,194,165);
}

.selectors.america, .country.america{
  background-color:rgb(255, 131, 131);
  fill:rgb(255, 131, 131);
}

.selectors.asia-MiddleEast, .country.asia-MiddleEast{
  background-color:rgb(141,160,203);
  fill:rgb(141,160,203);
}

.selectors.southernEurope, .country.southernEurope{
  background-color:rgb(66, 185, 185);
  fill:rgb(66, 185, 185);
}


.selectors.austria, .country.austria{
  background-color:rgb(70, 169, 195);
  fill:rgb(70, 169, 195);
}



.selectors.australia, .country.australia{
  background-color:rgb(231,138,195);
  fill:rgb(231,138,195);
}

.selectors.central-EasternEurope, .country.central-EasternEurope{
  background-color:rgb(107, 199, 123);
  fill:rgb(107, 199, 123);
}

.selectors.africa, .country.africa{
  background-color:rgb(247, 170, 83);
  fill:rgb(247, 170, 83);
}



.org {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(39, 174, 170,0.6);
  stroke-width: 1px;: 
}



.hovered{
  display: none;
}
/*
.hovered .depth3 circle{
    display: 1;

}*/

.noText text{
  display: none;
}



.node--root, .nodisplay{
  display:none;  
}

.node{
}



.label{
  pointer-events: none;
}




.node {
  box-sizing: border-box;
  line-height: 1em;
  overflow: hidden;
  position: absolute;
  white-space: pre;
  background: #ddd;
}

.depth0 circle, .depth1 circle {
/*  fill: hsla(0, 0%, 42%, 0.05);
  stroke-width:1px;
  stroke:hsla(0, 0%, 42%, 0.25);*/
  display: none;
}

.depth2 circle{
    fill: hsla(0, 0%, 42%, 0.05);
  stroke-width:1px;
  stroke:hsla(0, 0%, 42%, 0.25);
}
.depth3 circle {
    fill: hsla(0, 0%, 100%, 0.1);
    stroke: hsla(0, 0%, 100%, 0.4);
    stroke-width: 1px;
}


.depth4 circle {
    fill: white;
    opacity: 0.3;
}




.generom circle{
   fill:rgba(233, 97, 83, 0.32);
}

.womenLine {
  fill: rgba(255, 58, 0, 0.8);
  stroke-width: 1px;
}
.node-label,
.node-value {
  margin: 4px;
}

.node-value {
  margin-top: -2px;
}

.node-value {
  font-weight: bold;
}





#selectorPanel{
  display: inline-block;
  min-width: 50%;
  max-width: 75%;
  margin: 15px auto;
  padding: 10px 0px;
  background-color: #f0f0f0;
  border-radius: 6px;
}

#selectorPanel button, #selectorPanel select{
  margin-left: 10px;
  border-radius: 2px;
  padding: 2px 10px;
}

#selectorPanel select{
  padding-left: 1px;
}

.selectors{
    border-radius: 15px;
    margin: 4px;
    padding: 0px 13px;
    color: white;
    display: inline-block;

    cursor: pointer;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%;*/ /* aspect ratio */
   vertical-align: top;
    overflow: hidden;
    max-width: 1280px;
    margin:0 auto;

}
.svg-content-responsive {
    display: block;
/*    position: absolute;
    top: 100px;
    left: 0;*/
}



/* TIPSY */


.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000;
    font-family: monospace;
 }

 .tipsy img{
  max-width:200px;
}

  .tipsy-inner { background-color: #777; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  .tipsy-inner { box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); }
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
  .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }